@import "../standard.css";

.form-group {
    margin: 1rem 1rem;
}

#regform .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 1rem;
}

#regform button {
    padding: 0.5rem 3rem;
}