@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');


* {
  box-sizing: border-box;
  }

html, body{
 font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  color: #363636;
}

p {
  line-height: 1.5;
}

.container {
  width: 100%;
  padding: 1rem;
  margin: auto;
}

/* navbars */

.navbar-top {
  display: none;
}

.navbar-main {
  display: flex;
 
  justify-content: space-between;
  padding: 1rem;
  width: auto;
}


/* Logo och länkar/hamburgare */

#logo {
  margin-left: 3rem;
  background-image: url(images/Logo.svg);
  background-size: cover;
  /* border: 1px solid black; */
  height: 3rem;
  width: 9rem;
}


/* lägg till Navbar för länkar, när hamburgaren ryker */

.navbar-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.navbar-links {
  display: none;
}

.hamburger-menu {
  font-size: 2rem;
  color:#2baaec ;
  background-color: transparent;
  border: none;
}

.hamburger-menu :active {
  color: #25e6c8;
}


/* showcase content */

.showcase {
  background-color: #DEDEDE;
  height: 20rem; 
}

.showcase .container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
   
}

#silhuett {
 
  background-image: url(images/Showcase.svg);
  margin: 0 0 0 4rem;
  height: 19rem;
  width: 17.4rem;
  
  background-size: cover;
  /* border: 1px solid black; */
}

.showcase-text {
 
  margin: auto;
  margin-left: 3rem;
  width: 18rem;
  /* border: 1px solid black; */
 
}
.showcase-text {
  margin: 1 0 0 0;
}

.showcase-text h2 {
  font-weight: 300;
  color: #363636;
}

.showcase-text p {
  font-size: 0.5rem;
  color: #626262;
}

#about-btn {
  background-color: #25e6c8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  height: 1.7rem;
  width: 6.5rem;
  font-size: 0.5rem;
  font-weight: 600;
}


/* About us Section */

#about-us {
  display: flex;
  height: 21rem;
  justify-content: center;
  margin-top: 1rem;
}

#about-us-text {
  width: 24rem;
  margin-left: 3rem;
}


#about-us-rubrik {
 
  border-bottom: 3px solid #25E6C8;
}

#about-us-rubrik h2 {
  font-weight: 200;
  line-height: 0.3rem;
  
}

#about-us-rubrik p {
  display: inline-block;
  color: #2BAAEC;
  line-height: 0.3rem;
}

.about-us-small {
  margin-top: 1rem;
  color: #626262;
  font-size: 0.6rem;
}

#about-us-numbers {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

#about-us-numbers h2 {
  color: #2baaec;
  font-weight: 300;
}

#about-us-numbers h5 {
  font-size: 0.6rem;
  font-weight: 300;
  margin-top: -1rem;
  color: #626262;
}


#about-us-silhouette img {
  height: 20rem;
  margin-right: 3rem;
}


/* Our Services Section */

.service-bg {
  background-color: #F7F7F7;
  height: 39rem;
}

#service-rubrik {
  display: flex;
  width: 12rem;
  height: 4.5rem;
  justify-content: center;   
  border-bottom: 2px solid #25E6C8;
  
}

#service-rubrik h3 {
  font-weight: 300;
}



/* CSS GRID */



.center {
  display: flex;
  justify-content: center;
}

.service-grid {
  display: grid;
  margin-top: 1rem;
  justify-content: center;
  grid-gap: 18px;
  grid-template-columns: auto auto auto;
  border: 1px solid black;
}

.grid-item {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 13rem;
  height: 12rem;
  border-radius: 8px;
  border: 1px solid black;
}



.service-icon-bg {
  margin-top: 2rem;
  background-color: #25E6C8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid black;
  
}
.service-icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 2rem;
}

.dental-implants {
  width: 1.2rem;
}

.effective-protection {
  width: 1.7rem;
}



/* appointment Section */






/* footer */




media querys

@media (min-width: 480px) {
 
.container {
  max-width: 460px;
}



 /* media querys navbar */
  
  
  .navbar-main .navbar-logo {
    margin-left: 5rem;
  }
  .navbar-main .hamburger-menu {
    margin-right: 5rem;
  }

}
    

  /* media querys showcase */



@media (min-width: 768px) {

  .container {
    max-width: 720px;
    /* border: 1px solid black; */
  }

 /* navbar */

  .navbar-top {
    display: block;
    border-bottom: 0.5px solid #707070;
  }
  
  .navbar-top .container{
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-clock {
    margin-left: 4rem;
    font-size: 0.7rem;
    color: #626262;
  
  }
  
  .clock {
    color: #2BAAEC;
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }

  .navbar-social {
    margin-right: 4rem;
  }

  .navbar-social a {
   color: #2BAAEC;
   margin-left:1rem;
   font-size: 0.7rem;
   }

   .navbar-social a:hover {
     color: #25E6C8;
   }
 
  .hamburger-menu {
    display: none;
  }

  .navbar-links {
    display: flex;
    font-size: 0.7rem;
    margin-right: 4rem;
  }

.navbar-links a {
  font-family: 'Roboto Slab', serif;
  color: #363636;
  text-decoration: none;
  margin-left: 1rem;
  
}


}

@media (min-width: 992px) {
 
  .container {
    max-width: 960px;
    border: 1px solid black;
  }
  .nav-clock {
    margin-left: 10rem;
    font-size: 0.8rem;
    color: #626262;
  
  }
  
  .nav-clock .clock {
    color: #2BAAEC;
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .navbar-social {
    margin-right: 10rem;
    
  }
}

@media (min-width: 1200px) {
 
  .container {
    max-width: 1140px;
  }
}