* {
  box-sizing: border-box;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  color: #363636;
}


html, body{
 font-weight: 400;
  font-family: 'roboto' sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
  padding: 0;

}

.container {
  width: 100%;
  padding: 1rem;
  margin: 0;
}

/* navbars */

.navbar-top {
  border: 1px solid #707070;
}

.navbar-top .container {
  display: flex;
  justify-content: space-between;
}





.navbar-main {
  display: flex;
 
  justify-content: space-between;
  padding: 1rem;
  width: auto;
}

.navbar-logo img {
  width: 8rem;
}

/* lägg till Navbar för länkar, när hamburgaren ryker */

.nav-link {
display: none;

}

.hamburger-menu {
  font-size: 2rem;
  color:#2baaec ;
  background-color: transparent;
  border: none;
}

.hamburger-menu :active {
  color: #25e6c8;
}


/* showcase */

.showcase {
  display: flex;
  background-color: #DEDEDE;
  height: 12rem;
  flex-direction: row;
}

.showcase img {
  display:;
}

.showcase-text {
  padding: 4rem;
}

.showcase-text h2 {
  width: 18rem;
  line-height: 1;
}

.showcase-text p {
  padding-top: 1rem;
  font-family: 'roboto slab', serif;
  font-size: 0.5rem;
}

.about-us {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.75 2.5rem;
  border-radius: 0.5;
  border: 1px solid transparent;
  background-color: transparent;
}

.about-us-green {
  color: #fff;
  background-color: #25E6C8;
}

.about-us-green:hover {
  cursor: pointer;
  background-color: #2baaec;
}

/* appointment */

.appointment {
  display: flex;
  flex-direction: row;
  background-color:#2BAAEC ;
  opacity: 80%;
  height: 4rem;
  justify-content: space-between;
  padding: 1.3rem;
}

.appointment p {
  color: white;
  font-family: 'roboto slab';
  font-weight: ;
  font-size: 0.5rem;
  width: 15rem;
}

.appointment-button a img {
  width: 5rem;
  height: 2rem;
}




/* footer */

.footer {
  display: flex;
  background-color: #2BAAEC;
  height: 2rem;
}

.footer p {
  font-family:'roboto';
  margin: auto;
  text-align: center;
  font-size: 5px;
  color: #F3FBFF;
  opacity: 60%;
;
}


/* media querys */
@media (min-width: 480px) {
 
.container {
  max-width: 460px;
}

  .collapse:not(show) {
    display: none;
  }
 /* media querys navbar */
  .hamburger-menu {
    display: none;
  }
  .navbar-main .navbar-logo {
    margin-left: 5rem;
  }
  .navbar-main .hamburger-menu {
    margin-right: 5rem;
  }

  .nav-link {
    padding: 0;
    font-family: 'Roboto Slab' serif;
    font-size: 1rem;
    text-decoration: none;
    color: #363636;
    
    }
    

  /* media querys showcase */
  .showcase {

    height: 13rem;
  }

  .showcase img {
    display: block;
    height: 13rem;
    padding-left: 4rem;
    padding-top: 0.5rem;
  }
}

@media (min-width: 768px) {
 
  .container {
    max-width: 720px;
  }
}